<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
</head>
<body>
    <h1>Diabetes Prediction</h1>
    <h3>Enter the following information</h3>
    <form action="/predict" method="post">
        <label for="gender">Gender (Male/Female/Other):</label>
        <input type="text" id="gender" name="gender" required><br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br><br>

        <label for="hypertension">Hypertension (0 for No, 1 for Yes):</label>
        <input type="number" id="hypertension" name="hypertension" required><br><br>

        <label for="heart_disease">Heart Disease (0 for No, 1 for Yes):</label>
        <input type="number" id="heart_disease" name="heart_disease" required><br><br>

        <label for="smoking_history">Smoking History (No Info/never/former/current/not current/ever)::</label>
        <input type="text" id="smoking_history" name="smoking_history" required><br><br>

        <label for="bmi">BMI:</label>
        <input type="number" id="bmi" name="bmi" step="0.01" required><br><br>

        <label for="hba1c_level">HbA1c Level (or enter dk for 'don't know'):</label>
        <input type="text" id="hba1c_level" name="hba1c_level" required><br><br>

        <label for="blood_glucose_level">Blood Glucose Level (or enter dk for 'don't know'):</label>
        <input type="text" id="blood_glucose_level" name="blood_glucose_level" required><br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>
